{% extends 'base.html'%}

{%block content%}
    <div class="card mx-auto p-2 mt-1" style="width:95%">

        <h2>{{article.title}}</h2>

        <img src="{{article.thumb.url}}" alt="">
        <p >{{article.body}}</p>

        <p>Written by {{ article.author.username }}</p>
        <p>{{article.date}}</p>

      {% if article.author.id == user.id %}
        <form action="{% url 'articles:delete' article.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete">
        </form>

        <a href="{% url 'articles:edit' pk=article.id %}">Edit</a>
      {% endif %}

      </div>
{%endblock%}
